#txt {
  height: 630px;
  width: 420px;
  font-size: 17px;
  margin: auto;
  text-align: left;
  padding-bottom: 6px;
  overflow-y: scroll;
}

body {
  background-color: black;
}

body::-webkit-scrollbar {
  display: none;
}

#txt::-webkit-scrollbar {
  display: none;
}

img {
  width:51%;
  height: auto;
}

h2 {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: url("https://fonts.animaapp.com/SFProDisplay-Bold") format("opentype");
  color: #d2d2d2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: url("https://fonts.animaapp.com/SFProDisplay-Heavy") format("opentype");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: url("https://fonts.animaapp.com/SFProDisplay-Bold") format("opentype");
}